*~
.idea/
kattas_complete-philipp-2021-08-04/
kattas-philipp-2021-08-04/
resources/
__pycache__/
*.avi
*.asv
*.mp4
*.h5
*.yml

*.pth

runs/
checkpoints/
datasets/

resources/
cmake-build-debug/

test/
evaluations